<%= turbo_stream_from "todo_lists" %>
<h2>Add Todo List</h2>
<%= render partial: 'todo_lists/form', locals: { todo_list: @todo_list } %>

<h3>Todo lists</h3>
<div>
  <ul id="todo_lists" class="p-2 text-gray-700">
    <%= render partial: 'todo_list', collection: @todo_lists %>
  </ul>
</div>
